.sub-back-img {
  background: url('assets/Frame 75.png');
  /* background-color: #8f8ec3; */
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 7rem;
  height: 30rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elem-stripe {
  box-shadow: -3px -1px 9px -4px rgb(0 0 0 / 20%), 0 2px 20px 0 rgb(0 0 0 / 19%);
}
