.home-container {
  margin-top: 7rem;
}
.profile-card-h {
  min-width: 18rem;
  background-color: #8f8ec37a !important;
  border-radius: 15px;
}

.profile-img-h {
  margin-top: 2rem;
  width: 12rem;
  height: 12rem;
  object-fit: contain;
}

.profile-heading-h {
  font-weight: bold;
  margin-top: 1rem;
  color: #444444;
}

.profile-title-h {
  font-size: 0.8rem;
  color: #444444;
}

.horizontal-c-barder {
  background-color: #1118272b;
  width: 80%;
  height: 3px;
  margin-bottom: 1rem;
}

.profile-completion {
  font-weight: 600;
  color: #444444;
  margin-top: 0.6rem;
}

.btn-pro-h {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.side-menues-h {
  margin-top: 1.5rem;
  width: 65%;
}

.home-menu-icons {
  height: 12rem;
}

.menu-container-h {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  color: #898989;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.menu-container-h:hover {
  border: 1px solid #89898949;
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}

.menu-container-active {
  color: #000000;
}

.menu-heading-h {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 10px;
  margin-bottom: 10px;
}
