.test-question-contaienr {
  margin-top: 6rem;
}

.arrow-f-question {
  color: #8f8ec3;
}

.test-options-wrapper {
  display: flex !important;
  flex: row;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.next-btn-wrapper {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.bluecircle1 {
  width: 5.5rem;
  height: 5.5rem;
  cursor: pointer;
}
.bluecircle2 {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.bluecircle3 {
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}
